// generated on 2012-05-01 17:17:40

// --------- resources of type Single Icon -----------

1 Icon "1.ico"

2 Icon "2.ico"

3 Icon "3.ico"

4 Icon "4.ico"

5 Icon "5.ico"

6 Icon "6.ico"

// --------- resources of type Icon -----------

ICON.ICO Icon "ICON.ICO"

